name: Update Watchlist

on:
  push:
    branches: [ master ]
  workflow_dispatch: {}
  schedule:
    # run every 5 minutes. GitHub accepts time > 5 mins.
    # https://github.blog/changelog/2019-11-01-github-actions-scheduled-jobs-maximum-frequency-is-changing/
    - cron: "* * * * *"

jobs:
  runewatch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run a one-line script
        run: |
          git fetch origin runewatch && git checkout runewatch
          bash scripts/update_watchlist.sh
  runewatch-updater:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run a one-line script
        run: |
          git fetch origin runewatch-updater && git checkout runewatch-updater
          bash update_watchlist.sh
